{% extends './base.html' %}
{% load static %} <!--children template-->

{% block date-block %}
<div> {{date}} </div>
{% endblock date-block %}

{% block food-container %}
  {% for menu in menus %}
  <div class="food">
      <img src={% get_static_prefix %}{{menu.img_path}} width="300px" height="200px"/>
      <div class="info">
        <h3>{{menu.name}}</h3>
        <P>{{menu.description}}</p>
        <a href="{{menu.id}}"">See Menu</a>
      </div>
    </div>
  {% endfor %}
{% endblock food-container %}
  